.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 2rem 6%;
    transition: all 0.5s ease;
    &.sticky {
        background-color: #101821;
        padding: 1.2rem 6%;
    }
}

.header .logo img {
    width: 13.2rem;
    height: auto;
}

.header .nav-list {
    display: flex;
    align-items: center;
}

.header .nav-list li {
    margin: 0 1.5rem;
}

.header .nav-list li a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 400;
    text-transform: capitalize;
    transition: color 0.4s ease;
    &:hover {
        color: var(--text-color);
    }
}

.header .buttons {
    display: flex;
    align-items: center;
}

.header .buttons .btn2 {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 1rem 1.8rem;
    font-size: var(--p-font);
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 2rem;
    transition: transform 0.4s ease;
    &:hover {
        transform: translateX(-0.7rem);
    }
}

.header .buttons .btn1 {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    transition: color 0.4s ease;
    &:hover {
        color: var(--text-color);
    }
}

.header #menu-icon {
    font-size: 3.2rem;
    margin-left: 1rem;
    z-index: 1010;
    cursor: pointer;
    display: none;
}