@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --h1-font: 8rem;
  --h2-font: 4.6rem;
  --p-font: 1.7rem;
  --bg-color: #121b25;
  --text-color: #fff;
  --main-color: #1aa090;
  --other-color: #d6d6d6;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.2rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--text-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  width: 100%;
  padding: 10rem 6% 9rem;
}

.heading h2 {
  font-size: var(--h2-font);
  font-weight: 700;
  text-transform: capitalize;
}

.center-button {
  text-align: center;
  margin-top: 6rem;
}

.center-button .btn {
  display: inline-block;
  background-color: var(--main-color);
  padding: 1.7rem 2.6rem;
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  text-transform: capitalize;
  transition: transform 0.4s ease;
}
.center-button .btn:hover {
  transform: scale(0.9) translateY(-0.7rem);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 2rem 6%;
  transition: all 0.5s ease;
}
.header.sticky {
  background-color: #101821;
  padding: 1.2rem 6%;
}

.header .logo img {
  width: 13.2rem;
  height: auto;
}

.header .nav-list {
  display: flex;
  align-items: center;
}

.header .nav-list li {
  margin: 0 1.5rem;
}

.header .nav-list li a {
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 400;
  text-transform: capitalize;
  transition: color 0.4s ease;
}
.header .nav-list li a:hover {
  color: var(--text-color);
}

.header .buttons {
  display: flex;
  align-items: center;
}

.header .buttons .btn2 {
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 1rem 1.8rem;
  font-size: var(--p-font);
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 2rem;
  transition: transform 0.4s ease;
}
.header .buttons .btn2:hover {
  transform: translateX(-0.7rem);
}

.header .buttons .btn1 {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--other-color);
  transition: color 0.4s ease;
}
.header .buttons .btn1:hover {
  color: var(--text-color);
}

.header #menu-icon {
  font-size: 3.2rem;
  margin-left: 1rem;
  z-index: 1010;
  cursor: pointer;
  display: none;
}

.home {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 4rem;
}

.home .home-image {
  width: 54rem;
  height: 54rem;
}

.home .home-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .home-text h1 {
  font-size: var(--h1-font);
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.home .home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  color: var(--other-color);
  line-height: 1.8;
  margin-bottom: 4rem;
}

.home .form {
  max-width: 41rem;
  width: 100%;
  height: auto;
}

.home .form .form-content {
  position: relative;
}

.home .form .form-content input:first-child {
  width: 100%;
  background-color: var(--text-color);
  padding: 1.7rem 13rem 1.5rem 1.5rem;
  border: 0.2rem solid var(--main-color);
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 1.2rem;
}

.home .form .form-content input:first-child::-webkit-search-cancel-button {
  cursor: pointer;
}

.home .form .form-content input:last-child {
  display: inline-block;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  padding: 1.2rem 3rem;
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--text-color), 0 0 1.5rem #868686;
}

.feature {
  padding: 7rem 6% 6rem;
}

.feature .feature-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5.5rem;
}

.feature .feature-content .box img {
  width: 100%;
  height: auto;
}

.property-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 2rem;
  margin-top: 5.5rem;
}

.property-content .box .image img {
  width: 100%;
  height: auto;
}

.property-content .box h3 {
  margin: 2.5rem 0 1rem;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: capitalize;
}

.property-content .box > p {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--other-color);
  text-transform: capitalize;
}

.property-content .box .property-list {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}

.property-content .box .property-list p {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: capitalize;
}

.property-content .box .property-list p i {
  color: var(--main-color);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}

.about .about-image img {
  width: 100%;
  height: auto;
}

.about .about-text h2 {
  font-size: var(--h2-font);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}

.about .about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 1.8;
  color: var(--other-color);
}

.about .about-text .center-button {
  text-align: left;
}

.cta-content {
  background: url("../images/ss.jpg") no-repeat center center/cover;
  padding: 10rem 2rem;
  text-align: center;
  border-radius: 2rem;
}

.cta-content h2 {
  font-size: var(--h2-font);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.cta-content p {
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 1.8;
}

.cta-content .center-button {
  margin-top: 2.5rem;
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 2rem;
}

.contact-content .box h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contact-content .box nav ul li {
  margin-bottom: 2rem;
}

.contact-content .box nav ul li a {
  display: inline-block;
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 400;
  transition: all 0.4s ease;
}
.contact-content .box nav ul li a:hover {
  transform: translate(-0.7rem, -0.3rem);
  color: var(--text-color);
}

.contact-content .box img {
  width: 13.2rem;
  height: auto;
  margin-bottom: 1rem;
}

.contact-content .box p {
  font-size: var(--p-font);
  font-weight: 400;
  color: var(--other-color);
  line-height: 1.8;
}

.contact-content .box .social {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.contact-content .box .social a {
  font-size: 2rem;
  color: var(--other-color);
  transition: all 0.4s ease;
}
.contact-content .box .social a:hover {
  transform: translateY(-0.3rem);
  color: var(--text-color);
}

.footer {
  text-align: center;
  padding: 2rem;
}

.footer p {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  line-height: 1.8;
}

@media (max-width: 1290px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.6rem 2%;
  }
  .header.sticky {
    padding: 1.2rem 2%;
  }
  section {
    padding: 8rem 2% 7rem;
  }
  .feature {
    padding: 6rem 2% 5rem;
  }
}
@media (max-width: 992px) {
  :root {
    --h1-font: 6rem;
    --h2-font: 4rem;
  }
  .header #menu-icon {
    display: block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    background-color: #101821;
    transition: right 0.4s ease;
  }
  .header .navbar.open {
    right: 0;
  }
  .header .navbar .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .navbar .nav-list li {
    margin: 0;
  }
  .header .navbar .nav-list li a {
    display: block;
    font-size: 2rem;
    padding: 3rem;
  }
  .home {
    grid-template-columns: 1fr;
    height: 100%;
    gap: 2rem;
  }
  .home .home-text {
    order: 2;
  }
  .home .home-image {
    margin: 0 auto;
    padding-top: 2rem;
  }
  .feature .feature-content {
    flex-wrap: wrap;
  }
  .about {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  section {
    padding: 7rem 2% 6rem;
  }
  .cta-content {
    padding: 7rem 2rem;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 50%;
  }
  :root {
    --h1-font: 4.5rem;
    --h2-font: 3.5rem;
    --p-font: 1.6rem;
  }
  .home .home-image {
    width: 42rem;
    height: 42rem;
  }
}
@media (max-width: 380px) {
  :root {
    --h1-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1.5rem;
  }
  section {
    padding: 6rem 2% 5rem;
  }
  .feature {
    padding: 5rem 2%;
  }
  .cta-content {
    padding: 5rem 2rem;
  }
  .home .home-image {
    width: 34rem;
    height: 34rem;
  }
}
@media (max-width: 300px) {
  .home .home-image {
    width: 30rem;
    height: 30rem;
  }
}/*# sourceMappingURL=main.css.map */